<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/add.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Add-book</title>
</head>
<body>
    <div class="form">
        <form action="/add-book" class="add-book" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" placeholder="enter title of the book">
            <label for="isbn">ISBN :</label>
            <input type="text" name="isbn" placeholder="enter your isbn here">
            <label for="summary">Summary :</label>
            <textarea name="" id="" cols="30" rows="10" name="summary"></textarea>
            <label for="date">Select the date you completed reading :</label>
            <input type="date" name="date">
            <label for="notes">enter a 1000 word notes about the book</label>
            <textarea name="" id="" cols="60" rows="15" name="notes"></textarea>
            <label for="rating">Rating</label>
            <input type="number" name="rating">
            <input type="submit" value="Add Book">
        </form>
    </div>
</body>
</html>